<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cassandra-loader/src/main/scala/com/ameyamm/mcsthesis/cassandra_load/Loader.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="SPARK_LOCAL_IP" value="172.16.0.6"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ameyamm.mcsthesis.cassandra_load.Loader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cassandra-loader"/>
</launchConfiguration>
